.section-title h2 {
  font-size: 32px;
}

.search-categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-card {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.categories-card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin: 41px auto 24px;
}

.categories-card footer a {
  text-decoration: none;
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-color);
}
